* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}
body {
  background: url(/assests/bg.png) no-repeat center fixed;
  background-size: cover;
}

.photo {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.photo > img {
  height: 200px;
  border-radius: 50px 50px;
}

h1, h3, p, span {
  color: white;
  text-align: center;
}
h1 {
  padding-top: 56px;
}
h3 {
  padding: 10px;
  font-weight: normal;
}
li {
  list-style: none;
  display: flex;
  justify-content: center;
}
li > a {
  text-decoration: none;
  color: white;
  height: 20px;
  text-align: center;
} 
.cta > ul > li > a {
  width: 200px;
  padding: 10px;
  margin: 5px;
  border: solid 1px;
  border-radius: 10px;
}
.cta {
  padding-top: 56px;
}
.cta > ul > li > a:hover {
  background-color: white;
  color: #252525;
}
footer {
  text-align: center;
  margin-top: 56px;
}
footer :nth-child(2) {
  font-size: 12px;
  padding-top: 8px;
}